<div id="screen-name">
  <h3>Nueva Solicitud</h3>
  {{#link-to 'solicitudes' tagName="button" classNames="btn"}}<span title="Regresar a solicitudes" class="glyphicon glyphicon-chevron-left"></span>{{/link-to}}
</div>
<div id="wide-panel">
  {{#form-for controller}}
    {{input notas}}
    {{input acuerdos as="text"}}
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-7">
        {{save-button item=this}}
      </div>
    </div>
  {{/form-for}}
</div>