{{outlet}}

{{#if showContactos}}
    <div id='contacto-header'>
      {{#link-to "contactos.new" tagName="button" classNames="btn"}} <span title="Agregar contacto" class="glyphicon glyphicon-plus-sign"></span> {{/link-to}}
    </div>

    {{#each }}
        <div class="contacto-item">

            <div class="contacto-nombre">{{nombre}}</div>
            <div class="contacto-telefono">{{telefono}}</div>
            <div class="contacto-email">{{email}}</div>

            <div class="contacto-bottom">
              {{#link-to 'contacto.edit' this tagName="span" classNames="glyphicon glyphicon-pencil"}}{{/link-to}}
            </div>

        </div>
    {{/each}}
{{/if}}
