<div id="screen-name">
  <h3>Solicitudes</h3>
  {{#link-to 'solicitudes.new' tagName="button" classNames="btn btn-success"}}<span title="Agregar nuevo empleado" class="glyphicon glyphicon-plus"></span>{{/link-to}}
</div>
<div id="action-solicitudes">
{{outlet}}
</div>
<div id="list-solicitudes">
  <div id="table-search">
    <div class="inner-padding">
      {{input type="text" value=searchText placeholder="Buscar solicitud..." classNames="form-control"}}
    </div>
  </div>
  <div id="table-wrapper">
    <table class="table table-bordered" id="solicitudes-table">
      <thead>
        <tr>
          <th class="th-numero">Número</th>
          <th class="th-cliente">Cliente</th>
          <th class="th-tipo">Tipo</th>
          <th class="th-notas">Notas</th>
        </tr>
      </thead>
      <tbody>
        {{#each}}
          {{#link-to 'solicitud' this tagName="tr" classNames="row-item"}}
            <td class="td-numero">{{numero}}</td>
            <td class="td-cliente">...</td>
            <td class="td-tipo">...</td>
            <td class="td-notas">{{notas}}</td>
          {{/link-to}}
        {{/each}}
      </tbody>
    </table>
  </div>
</div>


