<div id="main-container">
  <div id="main-row">
    <div id="left-panel">
      <div id="app-info">
        <h3>Recursos Humanos</h3>
      </div>
      <ul id="app-nav" class="nav nav-pills nav-stacked">
        {{#link-to 'empleados' tagName='li'}}<a href="#">Empleados</a>{{/link-to}}
        {{#link-to 'departamentos' tagName='li'}}<a href="#">Departamentos</a>{{/link-to}}
        {{#link-to 'sedes' tagName='li'}}<a href="#">Sedes</a>{{/link-to}}
      </ul>
    </div>
    <div id="main-panel">
      {{outlet}}
    </div>
  </div>
</div>
{{view App.NotificationView id="notifications" notificationBinding="notification" notification_typeBinding="notification_type"}}