!!!
%html
  %head
    %title Administración de Proyectos
    = stylesheet_link_tag "proyectos/application", :media => "all"
    = csrf_meta_tags
  %body
    = javascript_include_tag "proyectos/application"

    // poner aqui la tag del CurrentUser
    %meta{:name => "current-user", :content => UsuarioSerializer.new(current_user).to_json(root: false)}
