{{#my-modal title='Nuevo contacto' ok='agregar_contacto' close='removeModal'}}
  <h3>Estes es el Yield</h3>
  <form {{action 'ok' on='submit' target='controllers.contacto_modal'}}>
    <div class="form-group">
      <label>Nombre</label> {{input class="form-control" value=nombre}}
      <label>Teléfono</label> {{input class="form-control" value=telefono}}
      <label>Email</label> {{input class="form-control" value=email}}
    </div>
  </form>
{{/my-modal}}