{{#form-for controller}}

    <h5>Notificar cotización al cliente</h5>

  {{input msg_notificacion as="text" label='Mensaje'}}

  <div class="form-group">
      <div class="col-sm-offset-2 col-sm-7">
          <button type="submit"
                  class="btn btn-info glyphicon glyphicon-send" {{bind-attr disabled=this.isNotDirty}} {{action "notificar" this target='controller'}} >
              Notificar
          </button>
      </div>
  </div>

{{/form-for}}
