{{#form-for controller}}

    <h5>Cotización rechazada por el cliente</h5>

    {{input motivo_status as="text" label='Motivo'}}

    <div class="form-group">
        <button type="submit"
                class="btn btn-warning glyphicon glyphicon-usd" {{bind-attr disabled=this.isNotDirty}} {{action "rechazar" this target='controller'}} >
            Re-Cotizar
        </button>
    </div>

{{/form-for}}