<h3>Solicitar autorización de descuento</h3>
<div class="cotizacion-actions">
    <button type="submit" class="btn btn-info" {{bind-attr disabled=this.isNotDirty}} {{action "solicitar_descuento" this target='controller'}} >
        <span class="glyphicon glyphicon-thumbs-up"></span>
        Solicitar descuento
    </button>
</div>
