#login-area
  .login-title= "SIGRE"
  .login-message= "Sistema de Gestión de Recursos"
  .login-methods
    #login-google-apps.login-method
      %button.btn{'onclick' => "window.location = '/auth/google_oauth2';"}
        = "Accede con tu cuenta @cimav.edu.mx"
  .clearfix
