
#solicitud-cedulas-header {

  #cedulas-title {
    padding-left: 15px;
  }

  #tabla-datos {
    width: 100%;
    margin-bottom: 5px;
    position: relative;

    #columna-espacio {
      width: 10px;
    }

    #columna-cliente {
      padding-left: 15px;
      .dato-bold {
        font-weight: bold;
        padding-top: 5px;
      }
    }

    #columna-contacto {
//      float: right;
//      position: absolute;
//      top: 0;
//      right: 0;
      vertical-align: top;
      padding-right: 10px;
      padding-left: 10px;
      .dato-bold {
        font-weight: bold;
        padding-top: 5px;
      }
    }

  }

  #cedulas-list {

    border-bottom: 1px solid $grey;
    padding: 3px;
    height: 68px;
    border-top: 1px solid $grey;

    letter-spacing:1px;

    .nav-pills > li > a {
      border-radius: 24px;
      font-weight: bold;
      margin-left: 12px;
    }
    .nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
      color: white;
//      background-color: #fac76f;
//      border: 1px solid #e6b45e;
      background-color: $cedula-bg;
      border: 1px solid $cedula-border;
    }
    a {
      color: $cedula-border;
      border: 1px solid $grey;
      text-decoration: none;
    }

    #columna-lista {
      float: left;
      margin-top: 10px;
    }

      #columna-costos {
      float: right;
//      position: absolute;
//      bottom: 0;
//      right: 0;
      padding-right: 25px;
      .cedula-etiqueta {
        font-weight: normal;
        float: right;
        padding-right: 5px;
        color: $grey;
      }
      .cedula-costo-valor {
        font-weight: bold;
        letter-spacing:0px;
      }
    }
  }

}

#cedula {
  margin: 20px 20px 0px 20px;
  padding: 20px 20px 30px 20px;
  border: 1px solid $line-color;
  box-shadow: 0px 2px 4px $grey;
  background: lighten($light-grey, 2%);
  position: relative;

  #table-cedula-header {
    width: 100%;

    td {
      vertical-align: top;
    }

    #column-servicio {
      position: relative;
    }
    #column-porcentaje {
      position: absolute;
      right: 10px;
    }
    .etiqueta {
      font-weight: normal;
      float: right;
      padding-right: 6px;
      color: $grey;
      padding-top: 5px;
    }
    .dato {

    }
    .dato-bold {
      font-weight: bold;
      padding-top: 5px;
    }
  }

  .div-costos-variables-remanente-opacity {
    opacity: 0.3;
  }

  table.costos-variables-remanente {
    margin-top: 20px;
    margin-bottom: 2px;
    thead {
      font-weight: bold;
    }
    tbody {
      font-size: 90%;
      tr {
        // border-bottom: 1px solid blueviolet;
        &:hover {
          cursor: pointer;
          td {
            background-color: $bg-item-hover;
          }
        }
        td {
          text-align: right;
          &.descripcion {
            text-align: left;
          }
          &.tipo {
            width: 30px;
            text-align: center;
          }
        }
      }
    }
    tfoot {
      border-top: 2px solid $dark-grey;
      td {
        text-align: right;
        span {
          color: #333333;
          &.total_porcentaje_invalido {
            color: red;
          }
        }

      }
    }
  }

  table.costos-totales {
    //font-size: 110%;
    float: right;
    td {
      text-align: right;
      padding-left: 30px;
    }
  }

}

#cedula-header {
  border-bottom: 1px solid $line-color;
  background: lighten($light-grey,1%);
  padding: 10px 20px;
  height: 48px;
  h3 {
    margin: 5px 0 0 0;
    width: 50%;
    float: left
  }
  .cedula-actions {
    float: right;
  }
}

#cedula-wrapper {
  position: absolute;
  top: 96px;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
}

.accion-cedula {
  margin: 20px 20px 0;
  padding: 20px;
  background: $notificar-cotizacion-bg;
  border: 1px solid darken($notificar-cotizacion-bg, 10%);
}

.cedula-transmitida {
  .glyphicon-ok {
    color: #f19e60; // #ed8131;
  }
  .label {
    background:  #f19e60; // #ed8131;
  }
}