
.clientes-list {
  .media-heading {
    white-space: normal !important;
  }
}

.cliente-form {
  margin: 20px;
  input, textarea {
    margin-bottom: 15px;
  }
  .proyecto-rfc {
    width: 180px;
  }
  .proyecto-num-empleados {
    width: 100px;
  }
  .proyecto-cp {
    width: 100px;
  }
  .form-group {
    margin-left: 0;
    margin-right: 0;
  }
}