$light-orange: #ff8c00;
$light-grey: #fbfbfb;
$grey: #ddd;
$dark-grey: #888;
$white: #fff;

$folder-color-tipo-i: #6ecdf7;
$folder-color-tipo-ii: #6cd9aa;
$folder-color-tipo-iii: #f9d683;

$line-color: $grey;

$left-panel-bg: #262930;
$left-panel-line: $grey;
$left-panel-selected: #1e2025;
$left-panel-hover: #2f323a; 
$left-panel-nav-text: #818693;
$left-panel-inner-line: #3a3c44;
$bg-item-hover: #f0f0f0;
$screen-name-bar: #f1f1f1;
$md-search-bar: #f7f7f7;
$md-tools-bar: #f9f9f9;
$item-bg: #fff;

$op-options-bg: $light-grey;
$op-option-hover: $bg-item-hover;
$op-option-selected: $grey;
$op-option-text: #333;
$op-option-text-selected: #000;

$muestra-codigo-bg: #71c986;
$muestra-codigo-border: darken($muestra-codigo-bg, 10%);

$servicio-codigo-bg: #fac76f;
$servicio-codigo-border: darken($servicio-codigo-bg, 10%);

$cotizacion-bg: #95d6e9;
$cotizacion-border: darken($cotizacion-bg, 10%);

$contacto-bg: #6cbcd5;
$contacto-border: darken($contacto-bg, 10%);

$cedula-bg: #f19e60;
$cedula-border: darken($cedula-bg, 10%);

$notificar-cotizacion-bg: $light-grey;
