/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
#cotizaciones-list {
  padding: 5px;
  border-bottom: 1px solid $grey;
  height: 48px;
  .nav-pills > li > a {
    border-radius: 24px;
    font-weight: bold;
    margin-left: 10px;
  }
  .nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: white;
    background-color: #428bca;
    border: 1px solid #357ebd;
  }
  a {
    color: #428bca;
    border: 1px solid $grey;
    text-decoration: none;
  }
}



#cotizaciones-workarea {
  #datos-fijos {
    padding: 10px;
  }
}

#cotizacion-header {
  border-bottom: 1px solid $line-color;
  background: lighten($light-grey,1%);
  padding: 10px 20px;
  height: 48px;
  h3 {
    margin: 5px 0 0 0;
    width: 50%;
    float: left
  }
  .cotizacion-actions {
    float: right;
  }
}

#cotizacion-wrapper {
  position: absolute;
  top: 96px;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
}

#cotizacion {

  margin: 20px 20px 0px 20px;
  padding: 40px 40px 50px 40px;
  border: 1px solid $line-color;
  background: $white;
  box-shadow: 0px 2px 4px $grey;
  
  background: lighten($light-grey,2%);

  #cotizacion-codigo-data {
    float: right;
    color: $dark-grey;
    #codigo {
      font-size: 150%;
    }
    span {
      float: right;
      font-size: 100%;
    }
  }

  .cotizacion-cliente-data {
    margin-bottom: 20px;
    .cliente-nombre {
      font-weight: bold;
      font-size: 110%;
    }
  }

  .cotizacion-mensaje, 
  .cotizacion-observaciones,
  .cotizacion-notas {
    margin-bottom: 20px;
    textarea {
      height: 100px;
    }
  }

  .cotizacion-extra-data {
    .extra-item {
      margin-bottom: 5px;
      span {
        margin-right: 10px;
      }
    }
  }
  .cotizacion-extra-data-edit {
    .extra-item {
      span {
        margin-right: 10px;
        float: left;
        margin-top: 8px;
      }
      input {
       width: 40%;
       float: left;
      }
      &.extra-item-date {
        input {
          width: 70%;
        }
      }
      select { 
        width: 40%; 
        float: left;
      }
      .extra-text {
        margin-left: 10px;
      }
    }

  }
}

.accion-cotizacion {
  margin: 20px;
  padding: 20px;
  background: $notificar-cotizacion-bg;
  border: 1px solid darken($notificar-cotizacion-bg, 10%);
}

#cotizacion-notificar {
  textarea {
    height: 140px;
  }
}
  
#pdf-link {
  margin: 8px 20px;
}