html, body, .application-view {
  height: 100%;
  margin: 0;
  padding: 0;
}

.spinner {
  display: inline-block;
  opacity: 0;
  max-width: 0;
  -webkit-transition: opacity 0.25s, max-width 0.45s;
  -moz-transition: opacity 0.25s, max-width 0.45s;
  -o-transition: opacity 0.25s, max-width 0.45s;
  transition: opacity 0.25s, max-width 0.45s; /* Duration fixed since we animate additional hidden width */
}

.spin {
  -webkit-animation: spin 1.5s infinite linear;
  -moz-animation: spin 1.5s infinite linear;
  -o-animation: spin 1.5s infinite linear;
  animation: spin 1.5s infinite linear;
}

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.has-spinner.active {
  cursor: progress;
}

.has-spinner.active .spinner {
  opacity: 1;
  max-width: 50px;
}

.app-notification {
  position: absolute;
  max-width: 480px;
  right: 10px;
  bottom: 10px;
}

.form-group {
  .btn-delete {
    float: right;
  }
}


#main-container {
  /** display:table;
  height: 100%; **/
  position: absolute;
  width: 100%;
  margin: 0;
  padding: 0 0 0 0;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  #main-row {
    /* height: 100%; */
    width: 100%;
    position: fixed;
    overflow: hidden;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0;
    margin: 0;

    #left-panel {
      position: fixed;
      bottom: 0;
      top: 0;
      padding: 0;
      margin: 0;
      width: 200px;
      overflow-x: hidden;
      overflow-y: auto;
      background-color: $left-panel-bg;
      border-right: 1px solid $left-panel-line;
      float: none;

      #app-info {
        position: absolute;
        top: 0;
        padding: 0;
        margin: 0;
        width: 100%;
        height: 64px;
        border-bottom: 1px solid $left-panel-inner-line;
        color: $white;
        text-align: center;
        h3 {
          font-size: 140%;
          margin-top: 20px;
          font-weight: normal;
        }
      }

      #app-nav {
        position: absolute;
        top: 65px;
        width: 100%;
      }

      .nav-pills > li > a {
        border-radius: 0px;
      }

      .nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
        background-color: $left-panel-selected;
        color: $white;
      }

      .nav > li > a:hover, .nav > li > a:focus {
        background-color: $left-panel-hover;
        color: $left-panel-nav-text;
      }

      .nav a {
        color: $left-panel-nav-text;
      }

      #left-panel-bottom {
        position: absolute;
        bottom: 0;
        width: 100%;
        color: $white;
        text-align: center;
        h3, h2 {
          font-size: 130%;
          font-weight: normal;
          margin-top: 5px;
          margin-bottom: 0;
        }
        h2 {
          border-top: 1px solid $left-panel-inner-line;
          color: #818693;
          font-size: 110%;
        }
        #avatar {
          border-radius: 50%;
          margin-top: 5px;
        }

      }


    }

    #main-panel {
      z-index: 500;
      position: absolute;
      left: 200px;
      top: 0;
      right: 0;
      bottom: 0;
      background: $white;
      padding: 0px;
      margin: 0px;
      float: none;

      #screen-name {
        background-color: $screen-name-bar;
        height: 64px;
        border: 1px solid $white;
        border-bottom: 1px solid $grey;
        h3 {
          margin-left: 20px;
          font-size: 140%;
          margin-top: 20px;
          font-weight: normal;
          float: left;
        }
        .actions {
          float: right;
        }
        a, button {
          position: relative;
          float: right;
          right: 10px;
          top: 14px;
          margin-right: 1em;
        }
      }
    }
  }
}

#md-search-panel {
  position: fixed;
  padding: 0px;
  bottom: 0;
  top: 64px;
  width: 300px;
  border-right: 1px solid $line-color;
  #md-search-tools {
    height: 40px;
    border-bottom: 1px solid $line-color;
    background-color: $md-tools-bar;
  }
  #md-search-box {
    height: 50px;
    background-color: $md-search-bar;
    border-bottom: 1px solid $line-color;
    .input-group {
      padding: 8px;
    }
  }
  #md-items-list {
    overflow-y: scroll;
    position: absolute;
    bottom: 32px;
    top: 50px;
    width: 100%;
    .md-item {
      .md-item-inner {
        font-size: 90%;
        padding-left: 15px;
        cursor: pointer;
        height: 80px;
        .media {
          padding-top: 10px;
          .media-heading {
            font-weight: bold;
            white-space: pre;
          }
          .media-object {
            width: 48px;
            margin-right: 10px;
            span {
              color: $grey;
              font-size: 48px;
            }
            .badge-proyectos {
              font-size: 80%;
              //background-color: $cotizacion-bg;
              //border: 1px solid $cotizacion-border;
            }
            .badge-clientes {
              font-size: 80%;
              //background-color: $cotizacion-bg;
              //border: 1px solid $cotizacion-border;
            }
          }
          .pull-right {
            width: 20px;
          }
          .media-body {
            margin-left: 58px;
            .media-heading {
              margin-bottom: 2px;
            }
            .media-extra {
              white-space: pre;
              overflow: hidden;
              font-size: 85%;
              color: $dark-grey;
              .glyphicon {
                color: lighten($dark-grey, 20%);
              }
            }
          }
        }
      }
      border-bottom: 1px solid $line-color;
      &:hover {
        background-color: $bg-item-hover;
      }
    }
    .active .md-item-inner {
      border-left: 5px solid $brand-primary;
      background-color: $item-bg;
      padding-left: 10px;
    }
  }
  #md-items-info {
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top: 1px solid $line-color;
    height: 32px;
    background-color: $md-search-bar;
    border-bottom: 1px solid $line-color;
    padding: 8px;
    font-size: 90%;
    color: $dark-grey;
    text-align: center;
  }
}

#md-main-panel {
  left: 500px;
  position: fixed;
  bottom: 0;
  top: 64px;
  right: 0;
  width: -moz-calc(100% - 500px);
  width: -webkit-calc(100% - 500px);
  width: calc(100% - 500px);
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0 20px 20px 20px;
  margin: 0;

  h3 {
    padding: 10px 0 0 0;
    height: 48px;
    margin: 0 0 20px 0;
    font-weight: normal;
  }

  .tab-content {
    margin-top: 20px;

  }
}

.btn-primary[disabled] {
  background: $light-grey;
  border-color: $grey;
  color: $grey;
}

.inner-padding {
  padding: 8px;
}

#table-search {
  height: 48px;
  background-color: $md-tools-bar;
  border-bottom: 1px solid $line-color;
}

#table-wrapper {
  width: 100%;
  position: absolute;
  bottom: 0px;
  top: 112px;
  overflow-y: auto;
  overflow-x: hidden;
  table {
    tr {
      td {
        cursor: pointer;
      }
      &:hover {
        background-color: $bg-item-hover;
      }
    }
  }
}

#wide-panel {
  padding: 20px;
  overflow: auto;
  position: absolute;
  left: 0;
  top: 64px;
  right: 0;
  bottom: 0;
  .tab-content {
    margin-top: 20px;
  }
}

#solicitudes-table {
  .td-numero {
    text-align: center;
  }
}

#solicitud-index{
  .glyphicon.enabled {
    color: inherit;
    float: right;
    cursor: pointer;
  }
  .glyphicon.disabled {
    color: $grey;
    cursor: default;
  }
}

#solicitud-cancelacion {
  #solicitud-cancelacion-header {
    border-bottom: 1px solid $line-color;
    background: lighten($light-grey, 1%);
    padding: 10px;
    height: 56px;
    h3 {
      font-weight: normal;
      margin: 5px 0 0 0;
      width: 50%;
      float: left
    }
    .solicitud-cancelacion-actions {
      float: right;
    }
  }
  #solicitud-cancelacion-forma {

    margin: 20px;
    padding: 20px 20px 40px 40px;
    border: 1px solid $line-color;
    box-shadow: 0px 2px 4px $grey;
    //background: lighten($light-grey,2%);
    background: #fbfbfb;

    textarea {
      height: 140px;
    }

    #solicitud-cancelacion-forma-razon {
      margin: 10px 0 10px 0;
      label {
        font-weight: normal;
        input {
          margin: 4px 8px;
        }
      }
    }
  }
}

#op-options-panel {
  position: fixed;
  padding: 0px;
  bottom: 0;
  top: 64px;
  width: 200px;
  border-right: 1px solid $line-color;
  background: $op-options-bg;
  .nav-pills > li > a {
    border-radius: 0px;
  }

  .nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    background-color: $op-option-selected;
    color: $op-option-text-selected;
  }

  .nav > li > a:hover, .nav > li > a:focus {
    background-color: $op-option-hover;
    color: $op-option-text;
  }

  .nav a {
    color: $op-option-text;
    span.glyphicon {
      border: 2px solid $dark-grey;
      color: $dark-grey;
      padding: 6px;
      border-radius: 20px;
      margin-right: 2px;
    }
  }
  .nav li.disabled {
    color: $grey;
    a {
      color: $grey;
      &:hover, &:focus {
        background-color: $op-options-bg;
        color: $grey;
      }
    }
    span.glyphicon {
      border: 2px solid $grey;
      color: $grey;
    }
  }

  .badge {
    float: right;
    color: $white !important;
    font-weight: normal;
    font-size: 80%;
    margin-top: 7px;
    &.badge-muestras {
      background-color: $muestra-codigo-border;
      border: 1px solid $muestra-codigo-border;
    }
    &.badge-servicios {
      background-color: $servicio-codigo-border;
      border: 1px solid $servicio-codigo-border;
    }
    &.badge-alertas {
      background-color: $alerta-codigo-border;
      border: 1px solid $alerta-codigo-border;
    }
    &.badge-cotizaciones {
      background-color: $cotizacion-bg;
      border: 1px solid $cotizacion-border;
    }
    &.badge-clientes {
      background-color: $cotizacion-bg;
      border: 1px solid $cotizacion-border;
    }
    &.badge-proyectos {
      background-color: $cotizacion-bg;
      border: 1px solid $cotizacion-border;
    }
    &.badge-cedulas {
      background-color: $cedula-bg;
      border: 1px solid $cedula-border;
    }
  }

  #bottom-options {
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top: 1px solid $line-color;
    background-color: $op-options-bg;
    border-bottom: 1px solid $line-color;
    padding: 8px;
    font-size: 90%;
    color: $dark-grey;
    text-align: center;
  }

}

#op-main-panel {
  left: 400px;
  position: fixed;
  bottom: 0;
  top: 64px;
  right: 0;
  width: -moz-calc(100% - 400px);
  width: -webkit-calc(100% - 400px);
  width: calc(100% - 400px);
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  .tab-content {
    .tab-pane {
      h3 {
        font-weight: normal;
      }
    }
  }
}

#solicitud-edit {
  padding: 20px;
  top: 0;
  overflow: auto;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  #solicitud-prioridad {
    width: 180px;
  }
}

#muestras {
  padding: 20px;
  .muestra-item {
    float: left;
    margin: 10px 5px;
    width: 220px;
    border: 1px solid $muestra-codigo-border;
    border-radius: 5px;
    box-shadow: 0px 2px 4px $grey;
    min-height: 200px;
    position: relative;

    .muestra-edit-form {
      display: none;
    }
    .muestra-edit-detalle-form {
      display: none;
    }

    .lista-muestras {
      padding-bottom: 10px;
      .row {
        padding: 10px;
      }
    }

    #tabla-edicion-muestra-detalle {
      padding: 10px;
      border-bottom: 1px solid #ddd;
    }

    .muestra-codigo {
      position: relative;
      padding: 5px;
      text-align: center;
      font-size: 90%;
      font-weight: bold;
      background: $muestra-codigo-bg;
      color: $white;
      text-shadow: 0px 2px $muestra-codigo-border;
      button {
        position: absolute;
        left: 10px;
        top: 1px;
        display: none;
      }
      .close {
        display: none;
      }
      .badge {
        color: $white;
        position: absolute;
        right: 10px;
        background-color: $muestra-codigo-border;
      }
    }
    .muestra-edit {
      position: absolute;
      right: 10px;
      top: 170px;
      cursor: pointer;
      display: block;
    }
    .muestra-detalle {
      position: absolute;
      left: 10px;
      top: 170px;
      cursor: pointer;
      display: block;
    }
    .muestra-edit.disabled
    {
      color: $grey;
      cursor: default;
    }
    .muestra-identificacion {
      font-size: 18px;
      font-weight: bold;
      text-align: center;
      margin: 10px;
    }
    .muestra-descripcion {
      color: $dark-grey;
      font-size: 90%;
      margin: 10px;
    }

    .muestra-identificacion-input {
      width: 300px;
      float: left;
    }
    .muestra-cantidad-input {
      width: 115px;
      margin-left: 10px;
      float: left;
    }
    .muestra-descripcion-input {
      margin-top: 10px;
      height: 4em;
    }

    .muestra-guardar {
      padding: 0 10px;
      float: left;
      button {
        border: 1px solid $muestra-codigo-border;
        color: $white;
        background-color: $muestra-codigo-bg;
      }
    }

    .muestra-eliminar {
      float: right;
      margin-right: 10px;
      cursor: pointer;
    }

  }

  #nueva-muestra {
    #nueva-muestra-link {
      text-align: center;
      span {
        margin-top: 20px;
        font-size: 80px;
        color: $grey;
        cursor: pointer;
      }
      div {
        margin-top: 10px;
        color: $dark-grey;
      }
    }
    form {
      display: none;
      width: 450px;
    }
  }
  .muestra-edit-form {
    width: 450px;
  }
  .muestra-edit-detalle-form {
    width: 450px;
  }
}

#contactos {
  #contacto-header {
    height: 34px;
    .btn {
      float: right;
    }
    .glyphicon {
      float: right;
      cursor: pointer;
    }
  }
  .contacto-item {
    position: relative;
    float: left;
    margin: 10px 5px;
    width: 320px;
    border: 1px solid $contacto-border;
    border-top-width: 5px;
    border-radius: 5px;
    box-shadow: 4px 4px 4px #dddddd;
    min-height: 100px;
    .contacto-nombre {
      font-size: 14px;
      font-weight: bold;
      margin: 5px;
    }
    .contacto-telefono {
      font-size: 14px;
      margin: 5px;
    }
    .contacto-email {
      font-size: 14px;
      margin: 5px;
    }
    .contacto-nombre-input {
      margin: 5px;
    }
    .contacto-telefono-input {
      margin: 5px;
    }
    .contacto-email-input {
      margin: 5px;
    }
    .contacto-bottom {
      position: absolute;
      color: $grey;
      right: 5px;
      bottom: 5px;
      cursor: pointer;
      display: block;
    }

  }

  #nuevo-contacto {
    width: 440px;
    .nuevo-contacto-titulo {
      position: relative;
      padding: 5px;
      text-align: center;
      font-size: 90%;
      font-weight: bold;
      background: $contacto-bg;
      color: $white;
      text-shadow: 0px 2px $contacto-border;
      .badge {
        color: $white;
        position: absolute;
        right: 10px;
        background-color: $contacto-border;
      }
    }

  }
}

#servicios-list {
  position: absolute;
  font-size: 95%;
  bottom: 0;
  top: 0;
  overflow: auto;
  overflow-x: hidden;
  width: 200px;

  .add-disabled{
    background: $grey;
    border: 1px solid darken($grey, 10%);
    width: 18px;
    padding: 0;
    height: 18px;
    display: block;
    float: left;
    text-align: center;
    font-weight: bold;
    color: $white;
    margin-right: 5px;
    font-size: 80%;
  }
  .p-disabled{
    color: $grey !important;
    font-style: italic;
    margin: 10px 14px;
  }

  li {
    cursor: pointer;
    .consecutivo {
      background: $servicio-codigo-bg;
      border: 1px solid $servicio-codigo-border;
      width: 18px;
      padding: 0;
      height: 18px;
      display: block;
      float: left;
      text-align: center;
      font-weight: bold;
      color: $white;
      margin-right: 5px;
      font-size: 80%;
      display: table-cell;
    }
    .consecutivo.is-cancelado {
      text-decoration: line-through;
      background: #999;
      border: 1px solid #666;
      color: $white;
    }
    .servicio-nombre.is-cancelado {
      display: table-cell;
      text-decoration: line-through;
    }
    .servicio-nombre {
      display: table-cell;
    }
    .add {
      background: $brand-success;
      border: 1px solid darken($brand-success, 10%);
      width: 18px;
      padding: 0;
      height: 18px;
      display: block;
      float: left;
      text-align: center;
      font-weight: bold;
      color: $white;
      margin-right: 5px;
      font-size: 80%;
    }
    .resumen {
      background: $brand-primary;
      border: 1px solid darken($brand-primary, 10%);
      width: 18px;
      padding: 2px 0 0 0;
      height: 18px;
      display: block;
      float: left;
      text-align: center;
      font-weight: bold;
      color: $white;
      margin-right: 5px;
      font-size: 75%;
    }
  }
  .nav-pills > li > a {
    border-radius: 0px;
  }

  .nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    background-color: $op-option-selected;
    color: $op-option-text-selected;
  }

  .nav > li > a:hover, .nav > li > a:focus {
    background-color: $op-option-hover;
    color: $op-option-text;
  }

  .nav a {
    color: $op-option-text;

  }
}

#servicios-workarea {
  position: absolute;
  border-left: 1px solid $line-color;
  bottom: 0;
  top: 0;
  right: 0;
  width: -moz-calc(100% - 200px);
  width: -webkit-calc(100% - 200px);
  width: calc(100% - 200px);
  margin-left: 200px;
  padding: 0 20px;
  overflow-y: auto;
  overflow-x: hidden;
  h3 {
    font-weight: normal;
    .consecutivo {
      background: $servicio-codigo-bg;
      border: 1px solid $servicio-codigo-border;
      width: 28px;
      padding: 3px 0 0 0;
      height: 28px;
      display: block;
      float: left;
      text-align: center;
      font-weight: bold;
      color: $white;
      margin-right: 10px;
      font-size: 80%;
    }
  }
  .glyphicon {
    float: right;
    cursor: pointer;
  }
  .glyphicon.disabled {
    color: $grey;
    cursor: default;
  }

  .servicio-info {
    margin-left: 35px;
  }

  #servicio-editar {
    margin-top: 20px;
  }

  #servicio-detalles {
    margin-left: 40px;
    .servicio-empleado {
      margin-bottom: 10px;
      h4 {
        padding-top: 5px;
        font-weight: normal;
      }
      img {
        width: 32px;
        height: 32px;
      }
      .empleado-datos {
        font-size: 80%;
      }
    }

    .muestra-item {
      float: left;
      margin: 10px 5px;
      width: 120px;
      border: 1px solid $muestra-codigo-border;
      border-radius: 5px;
      box-shadow: 0px 2px 4px $grey;
      min-height: 100px;
      position: relative;
      font-size: 90%;

      .muestra-codigo {
        position: relative;
        padding: 5px;
        text-align: left;
        font-size: 90%;
        font-weight: bold;
        background: $muestra-codigo-bg;
        color: $white;
        text-shadow: 0px 2px $muestra-codigo-border;
        .badge {
          color: $white;
          position: absolute;
          right: 10px;
          background-color: $muestra-codigo-border;
        }
      }

      .muestra-identificacion {
        font-size: 18px;
        font-weight: bold;
        text-align: center;
        margin: 10px;
      }
    }
    .muestra-servicios-detalles {
      float: left;
      margin-left: 20px;
      max-width: 100%;
      .no-costeos {
        font-size: 120%;
        text-align: center;
        color: $grey;
        margin: 20px;
      }
    }
  }
}

.servicio-acciones {
  margin: 48px 0;
  text-align: center;
}

.servicio-msg-cotizacion {
  width: 300px;
  border-radius: 5px;
  box-shadow: 0px 2px 4px #dddddd;
  background: #F8D79D;
  font-size: 110%;
  color: #8B8888;
  padding: 5px 30px;
}

table.servicio-muestras {
  font-size: 90%;
  border: 1px solid $muestra-codigo-border;
  tr {
    th {
      background: $muestra-codigo-bg;
      color: $white;
      border-bottom: 2px solid $muestra-codigo-border;
    }
    td.numero {
      white-space: pre;
    }
  }
}

.confirm-box {
  @include box-sizing(border-box);
  padding: 7px;
  position: absolute;
  top: 0px;
  left: 50%;
  margin-left: -63px;
  background: white;
  border-radius: 3px;
  border: 1px solid #ddd;

  h4 {
    display: inline-block;
    margin: 0 2px 0 0;
    color: #666;
    line-height: 11px;
    font-size: 11px;
  }
  button {
    font-size: 11px;
  }
}

table.resumen {
  tbody {
    tr {
      &:hover {
        cursor: pointer;
        td {
          background-color: $bg-item-hover;
        }
      }
      td {
        img {
          width: 32px;
          height: 32px;
        }
        &.status-text {
          text-align: right;
          font-size: 80%;
          text-color: $grey;
        }
        &.avatar {
          text-align: right;
        }
      }
    }
  }
  tr.total {
    td {
      font-weight: bold;
      font-size: 110%;
      border-top: 2px solid $dark-grey;
      text-align: right;
    }
  }
}

.servicio.is-cancelado {
  color: #888 !important;
  a {
    color: #888 !important;
  }
  .consecutivo {
      background: #999;
      border: 1px solid #666;
      color: $white;
  }
  .msg-cancelado {
    color: #e00;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    padding: 1em;
  }
}

