/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

#solicitud-index {
  margin: 20px;
  h3 {
    font-weight: normal;
  }
  .glyphicon {
    float: right;
    color: $grey;
    cursor: pointer;
  }
  .glyphicon.active {
    color: $dark-grey;
    cursor: normal;
  }
  #solicitud-index-datos {
    margin: 20px;
    .header {
      padding: 10px 0px 3px 0px;
      font-weight: bold;
      .label {
        font-size: 100%;
        margin-top: 24px;
        margin-bottom: 5px;
        font-weight: normal;
      }
    }
    .dato {
      padding-left: 20px;
      #table-fechas {
        .fechas-header {
          text-align: right;
          padding-right: 6px;
          //color: #dddddd;
          color: #999999;
        }
      }
    }
  }

}

#solicitud-header {
  margin-left: 20px;

  .tabla-solicitud-header {
    .columna-logo-tipo-i {
      width: 48px;
      font-size: 48px;
      .glyphicon-folder-close {
        color: $folder-color-tipo-i;
      }
    }
    .columna-logo-tipo-ii {
      width: 48px;
      font-size: 48px;
      .glyphicon-folder-close {
        color: $folder-color-tipo-ii;
      }
    }
    .columna-logo-tipo-iii {
      width: 48px;
      font-size: 48px;
      .glyphicon-folder-close {
        color: $folder-color-tipo-iii;
      }
    }
    .columna-titulo {
      width: 100%;
      h3 {
        margin-left: 10px !important;
        margin-top: 8px !important;
        margin-bottom: 0 !important;
      }
      .columna-titulo-proyecto {
        margin-left: 10px;
        margin-top: 0;
        color: #999;
      }
    }
    .columna-status{
      span {
        margin: 10px;
        font-size: 100%;
        font-weight: normal;
      }
    }
  }

}

#cotizacion-header {
  border-bottom: 1px solid $line-color;
  background: lighten($light-grey, 1%);
  padding: 10px 20px;
  height: 48px;
  h3, h4 {
    margin: 5px 0 0 0;
    width: 50%;
    float: left
  }
  .cotizacion-actions {
    float: right;
  }
}

#solicitud-arrancar {
  #arrancar-header {
    border-bottom: 1px solid $line-color;
    background: lighten($light-grey, 1%);
    padding: 10px 20px;
    height: 48px;
    h3 {
      margin: 5px 0 0 0;
      width: 50%;
      float: left
    }
    #arrancar-actions {
      float: right;
    }
  }
  .arrancar-item {
    position: relative;
    left: 30px;
    margin: 30px 20px 36px;
    .item-number {
      top: -4px;
      left: -30px;
      position: absolute;
      font-size: 22px;
      color: lightgray; //#47a447
    }
    p {
      margin-left: 15px;
    }
    .item-fechas {
      .fecha-inicio {
        float: left;
        width: 170px;
        padding-left: 10px;
      }
      .fecha-termino {
        float: left;
        width: 170px;
        padding-left: 10px;
      }
      .fecha-duracion {
        float: left;
        width: 130px;
        padding-left: 10px;
        #fecha-duracion-dias {
          margin-top: 0px;
        }
      }
    }
    #tabla-servicios {
      margin-left: 20px;
      width: 75%;
      font-size: 90%;
      #status-text {
        text-align: right;
      }
    }

  }
}

#md-general-panel {
  position: fixed;
  padding: 0px;
  bottom: 0;
  top: 64px;
  //width: 300px;
  border-right: 1px solid $line-color;
  left: 200px;
  right: 0px;
  #md-search-box {
    height: 50px;
    background-color: $md-search-bar;
    border-bottom: 1px solid $line-color;
    .input-group {
      padding: 8px;
      width: 480px;
    }
  }
  #md-items-list {
    overflow-y: auto;
    position: absolute;
    bottom: 0px;
    top: 50px;
    width: 100%;
    .md-item {

      .md-item-inner {
        font-size: 90%;
        padding-left: 15px;
        cursor: pointer;
        height: 96px;

        .media {
          padding-top: 10px;
          display: block;

          .tabla-solicitudes {
            width: 100%;

            tbody {
              vertical-align: top;
            }

            .columna-logo-tipo-i {
              width: 48px;
              font-size: 48px;
              .glyphicon-folder-close {
                color: $folder-color-tipo-i;
              }
            }
            .columna-logo-tipo-ii {
              width: 48px;
              font-size: 48px;
              .glyphicon-folder-close {
                color: $folder-color-tipo-ii;
              }
            }
            .columna-logo-tipo-iii {
              width: 48px;
              font-size: 48px;
              .glyphicon-folder-close {
                color: $folder-color-tipo-iii;
              }
            }

            .columna-cliente {
              width: 50%;
              padding-left: 10px;
              font-weight: bold;
              .solicitud-codigo {
                font-size: 14px;
              }
              .contacto-nombre {
                font-weight: normal;
              }
              .descripcion {
                font-weight: normal;
              }
              .etiqueta {
                font-weight: normal;
                padding-right: 4px;
                margin-top: 12px;
                color: #777;
                span {
                  color: #999;
                }
              }
            }
            .columna-proyecto {
              width: 50%;
              padding-left: 10px;
            }
            .columna-datos {
              .label {
                font-size: 90%;
                font-weight: normal;
              }
              span {
                padding-bottom: 2px;
              }
              table {
                width: 140px;
                display: block;
              }
              .etiqueta {
                float: right;
                padding-right: 4px;
                color: $grey;
              }
              .badge {
                font-size: 80%;
                color: $white !important;
                font-weight: normal;
                &.badge-muestras {
                  background-color: $muestra-codigo-border;
                  border: 1px solid $muestra-codigo-border;
                }
                &.badge-servicios {
                  background-color: $servicio-codigo-border;
                  border: 1px solid $servicio-codigo-border;
                }
                &.badge-cotizaciones {
                  background-color: $cotizacion-bg;
                  border: 1px solid $cotizacion-border;
                }
                &:hover {
                  cursor: pointer;
                }
              }
            }
            .columna-badges {
              padding-right: 5px;
              padding-left: 5px;
              //width: 84px;
              display: block;
              float: right;
              .badge {
                float: right;
                color: $white !important;
                font-weight: normal;
                font-size: 80%;
                margin-top: 7px;
                margin-left: 1px;
                &.badge-muestras {
                  background-color: $muestra-codigo-border;
                  border: 1px solid $muestra-codigo-border;
                }
                &.badge-servicios {
                  background-color: $servicio-codigo-border;
                  border: 1px solid $servicio-codigo-border;
                }
                &.badge-cotizaciones {
                  background-color: $cotizacion-bg;
                  border: 1px solid $cotizacion-border;
                }
                &:hover {
                  cursor: pointer;
                }
              }

            }

            .media-heading {
              font-weight: bold;
              white-space: pre;
            }

            .media-body {
              width: 360px;
              .media-heading {
                margin-bottom: 2px;
              }
              .media-extra {
                white-space: pre;
                overflow: hidden;
                font-size: 85%;
                color: $dark-grey;
                .glyphicon {
                  color: lighten($dark-grey, 20%);
                }
              }
            }

            .media-data {
              margin-left: 58px;
              //display: block;
              width: 360px;
            }
          }
        }
      }
      border-bottom: 1px solid $line-color;
      &
      :hover {
        background-color: $bg-item-hover;
      }

    }
    .active .md-item-inner {
      border-left: 5px solid $brand-primary;
      background-color: $item-bg;
      padding-left: 10px;
    }

  }

}

#solicitud-new {
  #muestra-identificacion {
    padding-right: 10px;
    padding-bottom: 10px;
  }
  #muestra-cantidad {
    padding-bottom: 10px;
  }
  #solicitud-new-agregar-contacto {
    display: inline-flex;
    a {
      margin-left: 2px;
    }
  }
  #solicitud-new-tipos {
    label {
      margin-bottom: 0;
      margin-top: 5px;
    }
    input {
      margin-right: 3px;
    }
    #tipo_ii {
      color: #ccc;
      font-style: italic;
    }
  }
}

#solicitud-edit {
  #solicitud-edit-agregar-contacto {
    display: inline-flex;
    a {
      margin-left: 2px;
    }
  }
  #solicitud-edit-tipos {
    label {
      margin-bottom: 0;
      margin-top: 5px;
    }
    input {
      margin-right: 3px;
    }
    #tipo_ii {
      color: #ccc;
      font-style: italic;
    }
  }

}


