<!DOCTYPE html>
<html>
<head>
  <title>Proyectos</title>
  <%= stylesheet_link_tag    "proyectos/application", media: "all" %>
  <%= javascript_include_tag "proyectos/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
