$white: #fff;
$black: #000;
$grey: #777;
$med-grey: #ddd;
$light-grey: #f8f8f8;
$dark-grey: #666;
$red: #b00;
$red-dark: #660000;
$blue: #2a3d78;
$green: #62c462;
$light-bg: #fafafa;
$bg-color: $light-grey;
$secondary-bg: lighten($light-grey, 5%);

$brand: #ef4748;
